{{#each this}}
  <div class='photo-card'>
    <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' class='photo-image' />
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b>
        <span>{{likes}}</span>
      </p>
      <p class='info-item'>
        <b>Views</b>
        <span>{{views}}</span>
      </p>
      <p class='info-item'>
        <b>Comments</span></b>
        <span>{{comments}}
      </p>
      <p class='info-item'>
        <b>Downloads</span></b>
        <span>{{downloads}}
      </p>
    </div>
  </div>
{{/each}}